body {
  margin: 0;
  text-align:center;
  font-family: 'Montserrat', sans-serif;
}

h1{
  font-family: 'Herr Von Muellerhoff', cursive;
  margin-top: 0;
}

h2 {
  font-family: 'Montserrat', sans-serif;
}
p {
  font-family: 'Nunito Sans', sans-serif;
}

.top-container {
  background-color: cornsilk;
  padding-top:150px;
  position:relative;
}

.middle-container {
}

.bottom-container {
}

.top-cloud {
  position:absolute;
  right:300px;
  top:50px;
}

.bottom-cloud {
  position:absolute;
  left:300px;
  bottom:300px;
}
